<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>403 - Forbidden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/color.css"/>
</head>
<body>
<div id="header">
    <a href="http://craws.net">
        <img id="logo" src="/static/images/craws.png" alt="Creating Reality and Advanced Web Systems"/>
    </a>
</div>
<div id="content">
    <h1>403 - Forbidden</h1>
</div>
</body>
</html>
