<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#ffffff">
  <title>CRAWS</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  {% if page == "index": %}
    <script src="/static/vendor/jquery-3.6.0.min.js"></script>
  {% endif %}
</head>
<body>
  <div id="header">
    <a href="https://craws.net">
      <img id="logo" src="/static/images/craws.png" alt="Creating Reality and Advanced Web Systems">
    </a>
    <div id="tagline">
      <span class="craws">C</span>reating
      <span class="craws">R</span>eality and
      <span class="craws">A</span>dvanced
      <span class="craws">W</span>eb
      <span class="craws">S</span>ystems since 2001
    </div>
    <div id="menu">
      {% if page == "index": %}
        <a href="/">Projects</a> | <a class="inactive" href="/team">Team</a>
      {% else %}
        <a class="inactive" href="/">Projects</a> | <a href="/team">Team</a>
      {% endif %}
    </div>
  </div>
  <div id="content">
    {% block body %}{% endblock %}
    <div class="clear-both"></div>
    <div id="footer-separator"></div>
    <div id="footer">
      Contact: <a class="email" href="mailto:alexander.watzinger@craws.net">alexander.watzinger@craws.net</a>
    </div>
  </div>
</body>
</html>
