{% extends "layout.html" %}
{% block body %}
    <div class="team">
        <div>
            <div>
                <p>Software Development</p>
                <img src="/static/images/team/alex.png" alt="Alex" /><br />
                Alexander Watzinger<br />
                <a class="email" href="mailto:alexander.watzinger@craws.net">alexander.watzinger@craws.net</a>
            </div>
            <div>
                <p>Graphic Design</p>
                <img src="/static/images/team/jan.png" alt="Jan" /><br />
                Jan Belik<br/>
                <a class="email" href="mailto:buero@janbelik.com">buero@janbelik.com</a>
            </div>
            <div>
                <p>Quality Assurance</p>
                <img src="/static/images/team/daniel.png" alt="Daniel" /><br />
                Daniel Kittel<br/>
                <a class="email" href="mailto:daniel.kittel@craws.net">daniel.kittel@craws.net</a>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
    <div id="separator"></div>
    <div class="team">
        <div>
            <p>Former Members</p>
            <img src="/static/images/team/christof.png" alt="Christof" /><br />
            Christof Rauchenberger
        </div>
    </div>
{% endblock %}
