{% extends "layout.html" %}
{% block body %}
  <div class="team">
    <div>
      {% for member in team_members %}
        <div>
          <p>{{ member.function }}</p>
          <img src="/static/images/team/{{ member.image }}" alt="{{ member.name }}"><br>
          {{ member.name }}<br>
          <a class="email" href="mailto:{{ member.email }}">{{ member.email }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="clear-both"></div>
  <div id="separator"></div>
  <div class="team">
    <div>
      <p>Former Members</p>
      Christof Rauchenberger<br>
      David Bra
    </div>
  </div>
{% endblock %}
